body, div, ul, li, span {
    padding: 0;
    margin: 0;
    list-style: none;
}

.title{
	display:block;
	width:100%;
	font-size:20px;
	text-align: left;
    padding-left:30px;
	line-height:2em;
}
.countdown {
	position:relative;
    height: 3rem;
    box-sizing: border-box;
    font-size: .4rem;
    color: #000;
    padding-top: .7rem;
    line-height:2em;
    text-align: left;
    padding-left:30px;
}
.cd-time {
    display: inline-block;
    line-height: 1.5em;
}

.cd-time ~ .cd-time {
    margin-left: 2px;
}

